<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button size="small"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ linea?.lineaNombre }}
    </ion-title>
    <ion-title size="small">{{ linea?.lineaTroncal }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" size="small">
        <ion-icon slot="icon-only" name="bus"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item>
      <ion-icon name="analytics-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <p>Ruta</p>
        <h2>{{ linea?.calleRecorrido }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="timer-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <p>Horario de Servicio</p>
        <h2>{{ linea?.horarioFuncionamiento }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="hourglass-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <p>Cada</p>
        <h2>{{ linea?.lineaIntervalo }} minutos</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <p>Paradas</p>
        <h2>{{ linea?.paradasNombre }}</h2>
      </ion-label>
    </ion-item>

  </ion-card>

</ion-content>

